rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /groupRequests/{document} {
      allow create: if true;
      allow read, update: if true;
    }
  }
}
